@page "/EliminarAlInicio"
@using ListaEnlazadaDoble.Services
@using ListaEnlazadaDoble.Models

<h3>Eliminar al inicio</h3>

@if (!string.IsNullOrEmpty(mensaje))
{
    <p style="color: red;">@mensaje</p>
}

<div class="mb-3">
    <label>Nuevo Valor:</label>
    <input class="form-control" @bind="nuevoValor" />
    <button class="btn btn-primary" @onclick="AgregarAlFinal">Agregar al final</button>
    <button class="btn btn-primary" @onclick="AgregarAlInicio">Agregar al inicio</button>
</div>

<div class="mb-3">
    <button class="btn btn-danger" @onclick="EliminaralInicio">Eliminar al Inicio</button>
</div>

<h4>Elementos en la Lista</h4>
<ul>
    @foreach (var item in lista.ObtenerValores())
    {
        <li>@item</li>
    }
</ul>
@code {
    private LED lista = new LED();

    private string nuevoValor = "";
    private string nuevoValor2 = "";
    private string datoReferencia = "";
    private int posicion;
    private string mensaje = "";

    private void AgregarAlFinal()
    {
        if (!string.IsNullOrWhiteSpace(nuevoValor))
        {
            Nodo nuevo = new Nodo(nuevoValor);
            mensaje = lista.AgregarAlFinal(nuevo);
        }
    }
    private void AgregarAlInicio()
    {
        if (!string.IsNullOrWhiteSpace(nuevoValor))
        {
            Nodo nuevo = new Nodo(nuevoValor);
            mensaje = lista.AgregarAlInicio(nuevo);
        }
    }

    private void EliminaralInicio()
    {
        mensaje = lista.EliminaralInicio();
    }
}
